@import 'node_modules/bootstrap/scss/bootstrap';

.router-link-active.router-link-exact-active.nav-link {
    color: blue;
}

.card {
    height: 95%;
    padding-bottom: 18px;
}

.card-single {
    height: 100%;
}


.blogs {

    position: relative;

    .btn-list {
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 50%;
    }
}